{% extends 'layout/base.html' %}

{% block content %}
    <div class="basic_block">
        <div class="basic_block">
            <p>
                Обычный блочный элемент
            </p>
        </div>
        <div class="inline_div">
            <p>
                Первый блок
            </p>
        </div>
        <span>
            Первый строчный элемент
        </span>
        <div class="inline_div">
            <p>
                Второй блок
            </p>
        </div>
        <div style="width: 80px; height: 80px" class="inline_div">
            <p>
                Третий блок
            </p>
        </div>
        <span>
            Второй строчный элемент
        </span>
        <div class="basic_block">
            <p>
                Обычный блочный элемент
            </p>
        </div>
    </div>
{% endblock %}
