{% extends 'layout/base.html' %}

{% block content %}
    <div class="basic_block">
        <div class="basic_block">
            <p>
                Обычный блочный элемент
            </p>
        </div>
        <div class="inline_div">
            <p>
                Первый блок
            </p>
        </div>
        <span>
            Первый строчный элемент
        </span>
        <div class="inline_div">
            <p>
                Второй блок
            </p>
        </div>
        <div style="width: 80px; height: 80px" class="inline_div">
            <p>
                Третий блок
            </p>
        </div>
        <span>
            Второй строчный элемент
        </span>
        <div class="basic_block">
            <p>
                Обычный блочный элемент
            </p>
        </div>
        <p>
            Во время заключительной дискуссии Эйнштейн взял слово только однажды, когда и задал свой вопрос.
            Позднее де Бройль вспоминал, что Эйнштейн “практически ничего не сказал, только сделал небольшое замечание
            относительно вероятностной интерпретации”, а затем “снова погрузился в молчание”. Однако поскольку все
            участники конгресса остановились в “Метрополе”, жаркие споры начались именно здесь, в элегантной столовой
            в стиле ар-деко, а не в конференц-зале Института физиологии. Бор и Эйнштейн, по словам Гейзенберга, были в
            самой гуще событий.
            <div class="inline_div" style="width: 200px;float: right">
                Специально вставленный элемент со стилем display: inline-block
            </div>
            Удивительно, что де Бройль, хотя и был аристократом, говорил только по-французски. Он, конечно, видел Бора
            и Эйнштейна, с головой погруженных в разговор, и Гейзенберга с Паули, внимательно их слушавших. Они говорили
            по-немецки, и де Бройль не понял, что присутствует при событии, которое Гейзенберг назвал “дуэлью”.
            Признанный мастер мысленных экспериментов, Эйнштейн явился к завтраку вооруженный. Он опять был готов
            бросить вызов принципу неопределенности, а вместе с ним и хваленой непротиворечивости копенгагенской
            интерпретации. Разговор начался за кофе с круассанами. Бор и Эйнштейн продолжили беседу по пути в Институт
            физиологии. Как всегда, Гейзенберг, Паули и Эренфест замыкали шествие. Перед утренней сессией оппоненты
            зондировали почву и уясняли смысл новых аргументов друг друга. “Во время заседания, а особенно в перерывах,
            молодежь, главным образом Паули и я, пыталась проанализировать эксперимент Эйнштейна, — рассказывал позднее
            Гейзенберг. — За завтраком обсуждение вопроса с Бором и другими ‘копенгагенцами’ продолжилось”.
            К концу дня совместными усилиями удалось сформулировать контрдоказательство. Во время обеда в “Метрополе”
            Бор объяснил Эйнштейну, почему его последний мысленный эксперимент не приводит к нарушению ограничений,
            накладываемых принципом неопределенности. Всякий раз, когда Эйнштейну не удавалось обнаружить изъян в
            доводах “копенгагенцев”, они, по словам Гейзенберга, знали, что “в глубине души он оставался при
            своем мнении”.
        </p>
        <p>
            Через несколько дней, вспоминал Гейзенберг, “Бор, Паули и я знали, что мы можем быть уверены: почва у нас
            под ногами тверда, а Эйнштейн понял — новую интерпретацию квантовой механики опровергнуть не так-то просто”.
            Впрочем, Эйнштейн не собирался сдаваться и, хотя суть его претензий к копенгагенской интерпретации
            заключалась в ином, продолжал повторять: “Бог не играет в кости”. Бор однажды возразил ему: “Не нам
            указывать Господу, как управлять миром”. “Эйнштейн, мне стыдно за вас, — как бы в шутку сказал однажды
            Пауль Эренфест. — Вы возражаете против новой квантовой теории точно так же, как ваши оппоненты возражали
            против теории относительности.
        </p>
    </div>
{% endblock %}
